<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title ? title + ' - ' : '' %>Employee Management System</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <%- locals.style ? style : '' %>
</head>
<body class="bg-gray-100">
    <div id="particles-js" class="fixed inset-0 z-0"></div>
    <div class="relative z-10">
        <%- body %>
    </div>
    <script src="/js/particles-config.js"></script>
    <script src="/js/auth.js"></script>
    <%- locals.script ? script : '' %>
</body>
</html>